.playing_field {
  display: flex;
  width: 1600;
  height: 70;
  border: 2px black solid;
  flex-wrap: wrap;
}

.playing_field div {
  width: 10px;
  height: 10px;
  border: 2px black solid;
}

.snake {
  background-color: darkgreen;
}

.food {
  color: darkred;
  border-radius: 50%;
}